.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItem {
  padding: .3em;
}

.dialogsItem .dialog a{
  padding: .3em;
  color: #fff;
}

.dialogs .dialogsItem .activeLink {
  color: black;
}

.messages .message {
  padding: .3em;
}