.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs .dialogsItem {
  padding: .3em;
}

.dialogsItem .active {
  color: cyan;
}

.dialogsItem .dialog {
  padding: .3em;
}

.messages .message {
  padding: .3em;
}